body{
    background-color: black;
}
.copy_right_footer{
    color: white;
}
h4{
    color: white;
}
button{
    background-color: red;
    color: white;
    width: 150px;
    height: 40px;
}